@import "tailwindcss";

@theme {
  --font-sans: var(--font-bricolage);
  
  --color-cream: #FDFCF0;
  --color-espresso: #2D1610;
  --color-crimson: #E11D48;
  --color-forest: #065F46;
}

:root {
  --background: var(--color-cream);
  --foreground: var(--color-espresso);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage), sans-serif;
}

/* Custom Utilities */
.text-balance {
  text-wrap: balance;
}

input:focus {
  outline: none;
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(45, 22, 16, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(45, 22, 16, 0.2);
}
